.wrapper-md.form.form-horizontal
  = form_for @available_product, multipart: true, remote: true, authenticity_token: true do |f|
    .form-group
      = f.label :product, 'Product', {class: 'col-sm-3 control-label'}
      .col-md-9
        = @available_product.product.name

    .form-group
      = f.label :color, 'Color', {class: 'col-sm-3 control-label'}
      .col-md-9
        = @available_product.color.name

    .form-group
      = f.label :size, 'Size', {class: 'col-sm-3 control-label'}
      .col-md-9
        = @available_product.size.name

    .form-group
      = f.label :quantity, 'Quantity', {class: 'col-sm-3 control-label'}
      .col-md-9
        = f.text_field :quantity, {class: 'col-sm-3 control-label', id: 'qtd'}

    .modal-footer
      %input.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button", :value => "Cancel"}/
      %input.btn.btn-sm.btn-success{:name => "commit", :type => "submit", :value => "Confirm"}/